# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.gitconfig.local
package-lock.json
README.md
.gitignore
README.md
src/data.json
README.md
public/index.html
public/portfolio/faceMaisonneuve/Projet1_1.webp
public/portfolio/faceMaisonneuve/Projet1_2.webp
public/portfolio/faceMaisonneuve/Projet1_3.webp
public/portfolio/faceMaisonneuve/Projet1_4.webp
public/portfolio/faceMaisonneuve/Projet1_5.webp
public/portfolio/faceMaisonneuve/thumbnails/Projet1_1.webp
public/portfolio/faceMaisonneuve/thumbnails/Projet1_2.webp
public/portfolio/faceMaisonneuve/thumbnails/Projet1_3.webp
public/portfolio/faceMaisonneuve/thumbnails/Projet1_4.webp
public/portfolio/faceMaisonneuve/thumbnails/Projet1_5.webp
public/portfolio/mars/Projet1_1.webp
public/portfolio/mars/Projet1_2.webp
public/portfolio/mars/Projet1_3.webp
public/portfolio/mars/thumbnails/Projet1_1.webp
public/portfolio/mars/thumbnails/Projet1_2.webp
public/portfolio/mars/thumbnails/Projet1_3.webp
public/portfolio/noemie/Projet1_1.webp
public/portfolio/noemie/Projet1_2.webp
public/portfolio/noemie/Projet1_3.webp
public/portfolio/noemie/thumbnails/Projet1_1.webp
public/portfolio/noemie/thumbnails/Projet1_2.webp
public/portfolio/noemie/thumbnails/Projet1_3.webp
public/portfolio/photographie/Projet1_1.webp
public/portfolio/photographie/Projet1_2.webp
public/portfolio/photographie/Projet1_3.webp
public/portfolio/photographie/thumbnails/Projet1_1.webp
public/portfolio/photographie/thumbnails/Projet1_2.webp
public/portfolio/photographie/thumbnails/Projet1_3.webp
public/portfolio/stampee/Projet1_1.webp
public/portfolio/stampee/Projet1_2.webp
public/portfolio/stampee/Projet1_3.webp
public/portfolio/stampee/Projet1_4.webp
public/portfolio/stampee/thumbnails/Projet1_1.webp
public/portfolio/stampee/thumbnails/Projet1_2.webp
public/portfolio/stampee/thumbnails/Projet1_3.webp
public/portfolio/stampee/thumbnails/Projet1_4webp.webp
public/index.html
public/images/portfolio/faceMaisonneuve/Projet1_1.webp
public/images/portfolio/faceMaisonneuve/Projet1_2.webp
public/images/portfolio/faceMaisonneuve/Projet1_3.webp
public/images/portfolio/faceMaisonneuve/Projet1_4.webp
public/images/portfolio/faceMaisonneuve/Projet1_5.webp
public/images/portfolio/faceMaisonneuve/thumbnails/Projet1_1.webp
public/images/portfolio/faceMaisonneuve/thumbnails/Projet1_2.webp
public/images/portfolio/faceMaisonneuve/thumbnails/Projet1_3.webp
public/images/portfolio/faceMaisonneuve/thumbnails/Projet1_4.webp
public/images/portfolio/faceMaisonneuve/thumbnails/Projet1_5.webp
public/images/portfolio/mars/img_1.webp
public/images/portfolio/mars/img_2.webp
public/images/portfolio/mars/img_3.webp
public/images/portfolio/mars/thumbnails/thumbnails_1.webp
public/images/portfolio/mars/thumbnails/thumbnails_2.webp
public/images/portfolio/mars/thumbnails/thumbnails_3.webp
public/images/portfolio/noemie/Projet1_1.webp
public/images/portfolio/noemie/Projet1_2.webp
public/images/portfolio/noemie/Projet1_3.webp
public/images/portfolio/noemie/thumbnails/Projet1_1.webp
public/images/portfolio/noemie/thumbnails/Projet1_2.webp
public/images/portfolio/noemie/thumbnails/Projet1_3.webp
public/images/portfolio/photographie/Projet1_1.webp
public/images/portfolio/photographie/Projet1_2.webp
public/images/portfolio/photographie/Projet1_3.webp
public/images/portfolio/photographie/thumbnails/Projet1_1.webp
public/images/portfolio/photographie/thumbnails/Projet1_2.webp
public/images/portfolio/photographie/thumbnails/Projet1_3.webp
public/images/portfolio/stampee/Projet1_1.webp
public/images/portfolio/stampee/Projet1_2.webp
public/images/portfolio/stampee/Projet1_3.webp
public/images/portfolio/stampee/Projet1_4.webp
public/images/portfolio/stampee/thumbnails/Projet1_1.webp
public/images/portfolio/stampee/thumbnails/Projet1_2.webp
public/images/portfolio/stampee/thumbnails/Projet1_3.webp
public/images/portfolio/stampee/thumbnails/Projet1_4webp.webp
