@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
html {
    background-color: #1f1f1f;
}
body {
    margin: 0 auto !important;
    max-width: 1440px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1f1f1f;
}

#root {
    /*     background-color: #c95252; */
    background-color: #1f1f1f;
}
